<!-- sidebar -->
<div id="sidebar-nav" class="custom_sidebar">
  <ul id="dashboard-menu">
    <li class="active">
      <div class="pointer">
        <div class="arrow"></div>
        <div class="arrow_border"></div>
      </div>
      <a href="#">
        <i class="icon-home"></i>
        <span>Home</span>
      </a>
    </li>            
    <li>
      <a href="#">
        <i class="icon-signal"></i>
        <span>Charts</span>
      </a>
    </li>
    <li>
      <a class="dropdown-toggle" href="#">
        <i class="icon-group"></i>
        <span>Users</span>
        <i class="icon-chevron-down"></i>
      </a>
      <ul class="submenu">
        <li><a href="#">User list</a></li>
        <li><a href="#">New user form</a></li>
        <li><a href="<%= edit_user_registration_path %>">User profile</a></li>
      </ul>
    </li>
    <li>
      <a class="dropdown-toggle" href="#">
        <i class="icon-edit"></i>
        <span>Forms</span>
        <i class="icon-chevron-down"></i>
      </a>
      <ul class="submenu">
        <li><a href="#">Form showcase</a></li>
        <li><a href="#">Form wizard</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="icon-picture"></i>
        <span>Gallery</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-calendar-empty"></i>
        <span>Calendar</span>
      </a>
    </li>
    <li>
      <a class="dropdown-toggle" href="#">
        <i class="icon-th-large"></i>
        <span>Tables</span>
        <i class="icon-chevron-down"></i>
      </a>
      <ul class="submenu">
        <li><a href="#">Custom tables</a></li>
        <li><a href="#">DataTables</a></li>
      </ul>
    </li>
    <li>
      <a class="dropdown-toggle ui-elements" href="#">
        <i class="icon-code-fork"></i>
        <span>UI Elements</span>
        <i class="icon-chevron-down"></i>
      </a>
      <ul class="submenu">
        <li><a href="#">UI Elements</a></li>
        <li><a href="#">Icons</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="icon-cog"></i>
        <span>My Info</span>
      </a>
    </li>
    <li>
      <a class="dropdown-toggle" href="#">
        <i class="icon-share-alt"></i>
        <span>Extras</span>
        <i class="icon-chevron-down"></i>
      </a>
      <ul class="submenu">
        <li><a href="#">Code editor</a></li>
        <li><a href="#">Grids</a></li>
      </ul>
    </li>
  </ul>
</div>
<!-- end sidebar -->